* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 1000px;
    margin: auto;

}

/* PAGE 1 */

/* Header */

.header__block {
    display: grid;
    grid-template-areas: 
    'one one one two two two'
    'one one one three three three';

    grid-template-columns: repeat(6, 1fr);
}

.header__block__blue {
    grid-area: one;

    height: 30rem;
    text-align: left;
    margin: auto;

    background-color: #C7DDEA;
    background-image: url("../img/family.png");
    background-size: 48%;
    background-repeat: no-repeat;
    background-position: 95% 100%;
}

.header__block__blue__flex {
    width: 50%;
    margin: auto;
}

.header__title__black {
    margin-top: 30%;
    margin-bottom: 0%;
    font-size: xx-large;
}

.header__paragraph__small--black {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    opacity: 60%;
    font-size: 13px;
    line-height: 20px;

    margin-bottom: 0%;
}

.header__paragraph__small--white{
    color: white;
}

.button__join {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-small;
    font-weight: bold;
    margin-top: 15%;
    width: 50%;
    border: none;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
    background: white;
}



.header__block__orange {
    grid-area: two;
    background: #F17949;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.header__block__yellow {
    grid-area: three;
    background: #FFB939;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.header__title__white {
    margin-top: 0%;
    color: white;
    font-size: xx-large;
}

.header__paragraph__smaller--black {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    opacity: 50%;
    margin-bottom: 1%;
    font-size: x-small;
}


/* Header */

/* Menu 1 */

.menu {
    display: grid;
    grid-template-areas: 
    ". home offer why contact .";
    grid-template-columns: repeat(6, 1fr);

    background: #f5f5f5;
}

.menu__option {
    height: 4.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold; 

    font-size: small;
}

.one__one {
    grid-area: home;
}

.two__one {
    grid-area: offer;
    opacity: 50%;
}

.three__one {
    grid-area: why;
    opacity: 50%;
}

.four__one {
    grid-area: contact;
    opacity: 50%;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color:#000;
    opacity: 100%;
}

/* Menu 1 */

/* Main */

.main {
    height: 80rem;

    background: linear-gradient(
        to bottom,
        #A9A19E 0%,
        #A9A19E 50%,
        #FAB131 50%,
        #FAB131 100%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main__first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.main__first__first {
    justify-self: center;
    width: 60%;
}

.main__first__big {
    font-size: 42px;
    color: white;
    margin-top: auto;
}

.main__first__second {
    width: 60%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 23px;
    opacity: 60%;
    font-weight: 500;
    font-size: small;

    place-self: center;
    margin-bottom: auto;
}

/* Main - cards */

.main__second {
    width: 100%;
    display: flex;
    flex-direction: row;

    gap: 2rem;
    place-items: center;

    padding-left: 6rem;
    padding-right: 6rem;
}

.main__second__card {
    background: white;
    max-width: 28rem;
    height: 18rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 5px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
}

.main__second__card__box--one {
    height: 9rem;
    background: #C7DDEA;
    width: 14rem;
    margin-top: -30px;
    border-radius: 5px;

    background-image: url(../img/child.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 50% 20px;
}


.main__second__card__box--two {
    height: 9rem;
    background: #FAB131;
    width: 14rem;
    margin-top: -30px;
    border-radius: 5px;

    background-image: url(../img/adult.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% -5%;
}

.main__second__card__box--three {
    height: 9rem;
    background: #F17949;
    width: 14rem;
    margin-top: -30px;
    border-radius: 5px;

    background-image: url(../img/old.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% -20%;
}

.card__text {
    width: 80%;
    margin-bottom: auto;    

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 60%;
    font-size: x-small;
    font-weight: 600;
    text-align: center;
}

.child , .adult , .old {
    margin-block-end: 0;
}

/* Main - cards */


.main__third {
    display: flex;
    flex-direction: column;
    place-items: center;

    text-align: center;
}

.main__third__big {
    font-size: 42px;
    color: white;

    margin-top: auto;
}

.main__third__small {
    width: 28rem;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 60%;
    font-size: small;
    font-weight: 600;
    line-height: 20px;
}

/* Main */


/* Boxes */

.boxes {
    height: 40rem;
    display: grid;
    grid-template-areas: 
    "box-zero box-zero box-one box-one box-two box-two"
    "box-three box-three box-four box-four box-five box-five";

    grid-template-columns: repeat(6, 1fr);
}

.boxes__zero {
    grid-area: box-zero;
    background: #C7DDEA;
}

.boxes__one {
    grid-area: box-one;
    background: white;
}

.boxes__two {
    grid-area: box-two;
    background: #f5f5f5;
}

.boxes__three {
    grid-area: box-three;
    background: white;
}

.boxes__four {
    grid-area: box-four;
    background: #F17949;
}

.boxes__five {
    grid-area: box-five;
    background: white;
}

.box {
    display: flex;
    flex-direction: column;
}

.question {
    font-size: xx-large;
    margin: auto;
    text-align: center;
}

.boxes__answer {
    margin: auto;
    padding-bottom: 4rem;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: small;
    font-weight: 600;
    opacity: 70%;
}

.boxes__number {
    opacity: 40%;
    padding-left: 20px;

    font-size: xx-large;
}

/* Boxes */


/* Footer */

.footer {
    height: 3rem;
    display: grid;
    grid-template-areas: 
    ". . footer footer . .";
    grid-template-columns: repeat(6, 1fr);

    background: #A9A19E;

    background-image: url(../img/chevrons-up.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% -1%;
}

.footer__text {
    grid-area: footer;
    align-self: center;

    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}

/* Footer */

/* End */

.end {
    height: 15rem;
    background: #777574
}

/* End */

/* PAGE 1 */


/* PAGE 2 */

/* Header */

.header__contact__blue {
    height: 20rem;
    display: flex;
    flex-direction: column;    

    background: #C7DDEA;
    background-image: url(../img/man-and-child.png);
    background-repeat: no-repeat;
    background-position: 90% 120%;
    background-size: 10.5rem;
}

.header__contact__title {
    font-size: 45px;
    margin: auto;
}

/* Header */

/* Menu 2 */

.menu__contacts{
    background: white;
}

.menu__contacts .four__one{
    opacity: 100%;
}

.menu__contacts .one__one{
    opacity: 50%;
}

/* Menu 2 */

/* Message */

.main__message {
    padding-left: 3rem;
    padding-right: 3rem;
    height: 35rem;
    background-color: #A9A19E;

    display: grid;
    grid-template-areas:  
    "contacts contacts contacts form form form";
    grid-template-columns: repeat(6, 1fr);
    
}

.main__contact__title {
    grid-area: contacts;
    width: 80%;
    margin-top: 5rem;    
    justify-self: center;    

    font-size: 35px;
    color: white;

    line-height: 50px;
}

.main__contact__form {
    grid-area: form;
    width: 22rem;
    padding-left: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
} 


.main__contact__text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: 600;
    color: white;

    opacity: 90%;

    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.main__contact__email-form{
   height: 2rem;
   border: none;
   border-radius: 2px;
}

.main__contact__message-form{
    height: 9rem;
    border: none;
    border-radius: 2px;
}

::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: black;
    font-size: small;

    padding-left: 1rem;
    padding-top: 0.5rem;
}


.main__contact__send-button{
    margin-top: 3rem;
    width: 50%;    
    border: none;
    padding: 15px;
    border-radius: 50px;
    align-self: flex-end;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-small;
    font-weight: bold;

    box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
    background: white;
}

/* Message */

/* Map */

.map-background-box {
    background-image: url(../img/map-contact.png);
    height: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.map-adress-box {
    background: #FAB131 ;
    width: 20rem;
    height: 13rem;
    display: flex;
    flex-direction: column;

    color: white;

    margin-bottom: 7rem;
    margin-left: 5rem;
}

.map-adress-box-header{
    font-size: 45px;

    align-self: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.map-adress-box-adress {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    margin-top: 3px;
    margin-left: 1.7rem;
    margin-right: auto;
}

.map-arrow {
    margin: 4rem;
    margin-top: 5rem;
}

/* Map */

/* PAGE 2 */